/* MAIN STYLES */
body {
  color: #232425;
  margin: 0.5em 1.5em;
}

.slide-note {
  color: #e3f2fd;
}

.title {
  width: auto;
  padding: 1em;
  margin: 0.5em;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #66a8d6;
}

.block {
  margin-left: 4em;
  margin-right: 4em;
  display: inline-block;
}

#quote {
  color: #fff;
  text-align: right; 
  padding-right: 1em; 
  background-color: #232425; 
}